/* src/CategorySlider.css */
.slider-container {
  padding: 3px;
}

.slider {
  display: flex;
  justify-content: space-around;
}

.slider-item {
  flex: 0 0 auto;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: gray;
}

.slider-item p {
  margin-top: 10px;
  font-size: 1rem;
}

.slider-item:hover {
  border-bottom: 1px solid black;
}
